* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(#f7faff, #eef3ff);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 2.5rem;
  width: 380px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h1 {
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #555;
  margin-bottom: 2rem;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #8673ff;
}

.button {
  width: 100%;
  padding: 14px;
  background-color: #726aea;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #3d3795;
}

.divider {
  margin: 1.5rem 0;
  height: 1px;
  background: #eee;
}


/* Flash message box */
.flash-message {
  background-color: #e0ccff;  /* pale purple */
  color: #3d3795;             /* dark blue text */
  padding: 12px 16px;
  border-radius: 12px;
  margin-bottom: 16px;
  font-size: 0.95rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 150px;          /* adjust size */
  height: auto;
  display: block;
  margin: 0 auto 10px;
}