<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PAL</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="container">
  <div class="card">
    <img
    src="{{ url_for('static', filename='images/logo.png') }}"
    alt="PAL Logo"
    class="logo"
    >
    <p class="subtitle">Connect tutors and students for effective language learning</p>
    <p>Welcome please log in to continue</p>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flash-message">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" novalidate>
      {{ form.hidden_tag() }}

      <label>Email</label>
        {{ form.email(class="form-control", placeholder="Email") }}

      <label>Password</label>
        {{ form.password(class="form-control", placeholder="Password") }}

        {{ form.submit(class="button") }}
        <p>email="pal.tutor@ncl.ac.uk", password="password123"</p>
    </form>

    <div class="divider"></div>

  </div>
</div>

</body>
</html>

</html>